{% extends 'base.html' %}
{% load static %}


{% block title%} CineGRADE Weddings {% endblock%}

{% block extra_css %} <link rel="stylesheet" href="{% static 'css/hero_center.css' %}"/>
{% endblock %}

{% block content %}

<!-- Hero Section -->
<!-- <section class="hero" style="background-image: url('{% static 'images/hero.jpg' %}');">
    <div class="container-fluid text-center text-white d-flex align-items-center justify-content-">
        <div class="hero-content">
            <h1 class="hero-title">Capturing Timeless Moments</h1>
            <p class="hero-text">
                CineGRADE Weddings is a team of professional wedding photographers and videographers 
                passionate about the art of wedding storytelling.
            </p>
            <div class="hero-buttons">
                <a href="#" class="btn btn-light-gray">Book Now</a>
                <a href="#" class="btn btn-outline-light">View Gallery</a>
            </div>
        </div>
    </div>
</section> -->


<section class="hero" style="background-image: url('{% static 'images/hero.jpg' %}');">
    <div class="container-fluid text-white d-flex align-items-center justify-content-center">
        <div class="hero-content">
            <h1 class="hero-title">Capturing Timeless Moments</h1>
            <p class="hero-text">
                CineGRADE Weddings is a team of professional wedding photographers and videographers 
                passionate about the art of wedding storytelling.
            </p>
            <div class="hero-buttons">
                <a href="#" class="btn btn-light-gray">Book Now</a>
                <a href="#" class="btn btn-outline-light">View Gallery</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}